<div class="fat-col col-md-4 col-xs-12 col-sm-12 pd-left-0" data-animation="none" data-animation-delay="0" id="fat-pb-1511da7f-cd09-3248-1372-f691d9e784ff" data-mute="1">
    <div class="fat-list lk-list-inline pd-top-30">
        <ul class="no-list-style">
            <li class="has-icon">
                <span class="lk-list-icon"><i style="color: #ffffff;" class="fa fa-clock-o"></i></span><span class="lk-list-title" style="font-size: 13px; font-weight: 600; color: #ffffff;">MON - SAT:</span>
                <span class="lk-list-value" style="font-size: 13px; font-weight: 600; color: #ffffff;">08:00 AM - 04:00PM</span>
            </li>
            <li><span class="lk-list-title" style="font-size: 13px; font-weight: 600; color: #ffffff;">SUN:</span><span class="lk-list-value" style="font-size: 13px; font-weight: 600; color: #ffffff;">CLOSED</span></li>
        </ul>
    </div>
</div>