<div class="fat-col col-md-12 col-xs-12 col-sm-12 mg-top-15" data-animation="none"
data-animation-delay="0" id="fat-pb-7408d48f-f1cd-47e0-ec8c-426e24515bec" data-mute="1">
<div class="lk-widget-newsletter-container lk-mailchimp-email-black lk-mailchimp-button-icon-inline max-width-450 text-center"
    id="fat-pb-fe1496fc-d980-f17d-300e-d8a2c1463a77">
    <div class="lk-newsletter-field">
        <script type="text/javascript">
            (function () {
                if (!window.mc4wp) {
                    window.mc4wp = {
                        listeners: [],
                        forms: {
                            on: function (event, callback) {
                                window.mc4wp.listeners.push({
                                    event: event,
                                    callback: callback,
                                });
                            },
                        },
                    };
                }
            })();
        </script>
        <!-- MailChimp for WordPress v4.2 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-140" method="post" data-id="140"
            data-name="Mailchimp Home 01">
            <div class="mc4wp-form-fields">
                <div class="lk-mailchimp">
                    <input type="email" name="EMAIL" placeholder="Your email address" required />
                    <input type="submit" value="Sign up" />
                </div>
            </div>
            <label style="display: none !important;">Leave this field empty if you're human: <input
                    type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                    autocomplete="off" /></label>
            <input type="hidden" name="_mc4wp_timestamp" value="1732869739" /><input type="hidden"
                name="_mc4wp_form_id" value="140" /><input type="hidden"
                name="_mc4wp_form_element_id" value="mc4wp-form-1" />
            <div class="mc4wp-response"></div>
        </form>
        <!-- / MailChimp for WordPress Plugin -->
    </div>
</div>
</div>