<div class="container">
    <div class="row" id="fat-pb-28e6d1ce-240c-bab6-abfe-6caaf4124d58" data-animation="none"
        data-animation-delay="0" data-mute="1">
        <div class="fat-col col-md-12 col-xs-12 col-sm-12" data-animation="none" data-animation-delay="0"
            id="fat-pb-fe7d98d6-abaf-39c0-ce5f-bb6faef4772f" data-mute="1" data-fit-to-bg="0">
            <div class="fat-text pd-top-65 pd-bottom-55 ff-main fw-regular"
                id="fat-pb-778eb83c-80d0-f1e4-8c33-58a7414726f6" style="font-size: 13px; color: #555555;"
                data-animation="none" data-animation-delay="0">
                <p style="text-align: center;">COPYRIGHT © 2018 <span class="c-second">CRONUS</span> &#8211; ALL
                    RIGHTS RESERVED. MADE BY <span class="c-second">MOONTHEME</span></p>
            </div>
        </div>
    </div>
</div>