<div class="fat-fullwidth fat-row-wrap">
    <div class="row pd-top-285 pd-bottom-285"
        id="fat-pb-9f91ad01-6fca-2006-4ebb-aaca7df5e694" data-animation="none"
        data-animation-delay="0" data-mute="1">
        <div class="fat-col col-md-12 col-xs-12 col-sm-12" data-animation="none"
            data-animation-delay="0" id="fat-pb-29d70bb0-2b2d-0a86-7e20-684a5bece409"
            data-mute="1" data-fit-to-bg="0">
            <div class="lk-video-popup-wrap lk-icon-subtitle-title text-center max-width-600 lk-video-title-default icon-gradient"
                id="fat-pb-6f0a5bcf-e23c-dc7a-e29d-80cd0368190c">
                <div class="lk-video-icon appear-animation" data-animation="fadeInUp"
                    data-animation-delay="0">
                    <a class="video-play magnific-popup" data-popup-type="iframe"
                        data-url="https://www.youtube.com/watch?v=gCygiw6j8Ts"
                        href="javascript:"> <i class="fa fa-play"></i></a>
                </div>
                <div class="lk-video-subtitle appear-animation" data-animation="fadeInUp"
                    data-animation-delay="150" style="color: #ffffff;">
                    HOW CAN WE HELP ?
                </div>
                <div class="lk-video-title appear-animation" data-animation="fadeInUp"
                    data-animation-delay="100" style="color: #ffffff;">Elaborate your
                    <em>company style</em> Grow up your business</div>
            </div>
        </div>
    </div>
</div>