<app-header></app-header>

<div class="main" role="main" id="fat-pb-33db2b40-aebd-c374-9897-2ff0485c37e9">
    <div class="fat-fullwidth">
        <div class="fat-fullwidth fat-row-wrap">
            <div class="row" id="fat-pb-5a8e35b8-fd14-007d-fd48-e1665a0ebfab" data-animation="none"
                data-animation-delay="0" data-mute="1">
                <div class="fat-col col-md-12 col-xs-12 col-sm-12" data-animation="none" data-animation-delay="0"
                    id="fat-pb-3a8a32b3-d5a1-630f-ed18-852d41b02d0e" data-mute="1" data-fit-to-bg="0">
                    <div class="fat-post-content-container">
                        <div class="fat-post-content" id="fat-pb-d383abf8-cccb-7bdd-27fa-8edefee7cd2d">

                            <app-carousel></app-carousel>

                            <div class="container">
                                <div class="row pd-top-140 pd-bottom-120 has-bg-color"
                                    id="fat-pb-3d43065f-cbd8-2ba9-657b-fedc9bef89cc" data-animation="none"
                                    data-animation-delay="0" data-mute="1">
                                    <app-card></app-card>
                                    <div class="fat-col col-md-6 appear-animation col-xs-12 col-sm-12"
                                        data-animation="fadeInUp" data-animation-delay="150"
                                        id="fat-pb-f3ab347c-a9cc-fdc9-e35f-af4230ee08b7" data-mute="1">
                                        <div class="lk-title-heading lk-heading-subtitle-title text-left lk-heading-custom lk-heading-medium"
                                            id="fat-pb-90caebea-8ea3-0879-8b6e-8796078ace30" data-animation="none"
                                            data-animation-delay="0">
                                            <div class="lk-subtitle-heading fs-13 fw-bold c-main lk-lsp-005 text-upper">
                                                Our Skills
                                            </div>
                                            <h2 class="lk-title c-dark lk-lsp-005 mg-bottom-0">We’re constantly
                                                improving our skills to <em>fulfill projects of any level</em></h2>
                                        </div>
                                        <div id="fat-pb-e5995902-dc03-7643-af89-98d4b0900da5"
                                            class="lk-progressbar-container appear-animation manual lk-progressbar-style-01">
                                            <app-progressbar *ngFor="let item of progressBarData" [item]="item">
                                            </app-progressbar>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="fat-fullwidth fat-row-wrap fat-row-shrink">
                                <div class="row pd-left-15 pd-right-15 has-bg-color"
                                    id="fat-pb-f73c07fb-fe98-9f1a-ce7a-0d50bf2260ae" data-animation="none"
                                    data-animation-delay="0" data-mute="1">
                                    <div class="fat-container">
                                        <div class="fat-col col-md-12 col-xs-12 col-sm-12 mg-bottom-70"
                                            data-animation="none" data-animation-delay="0"
                                            id="fat-pb-1c7c64e1-3aad-0ac6-4c9f-268df1d58987" data-mute="1">
                                            <div class="lk-title-heading lk-heading-subtitle-title-excerpt text-center lk-heading-custom max-width-700 text-center lk-heading-big"
                                                id="fat-pb-12a499cd-4971-b608-38ff-f64ff426dd17">
                                                <div class="appear-animation" data-animation="fadeInUp"
                                                    data-animation-delay="0">
                                                    <div
                                                        class="lk-subtitle-heading fs-13 fw-bold c-main lk-lsp-005 text-upper">
                                                        THE BEST SOLUTIONS
                                                    </div>
                                                    <h2 class="lk-title c-dark lk-lsp-005 mg-bottom-0">
                                                        Awesome Services
                                                    </h2>
                                                </div>
                                                <div class="lk-excerpt-heading appear-animation"
                                                    data-animation="fadeInUp" data-animation-delay="150">
                                                    <em>Eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                                        quia voluptas sit aspernatur aut </em>
                                                </div>
                                            </div>
                                        </div>
                                        <app-services *ngFor="let item of serviceList" [item]="item"></app-services>
                                    </div>
                                </div>
                            </div>

                            <app-form></app-form>

                            <div class="container">
                                <div class="row pd-top-140" id="fat-pb-26c59f5f-f40e-7783-a143-6890ca557eb3"
                                    data-animation="none" data-animation-delay="0" data-mute="1">
                                    <div class="fat-col col-md-12 col-xs-12 col-sm-12" data-animation="none"
                                        data-animation-delay="0" id="fat-pb-7b627e78-2a80-bd2d-25d7-bc7a50658dad"
                                        data-mute="1" data-fit-to-bg="0">
                                        <div class="lk-title-heading appear-animation lk-heading-subtitle-title text-center lk-heading-custom mg-bottom-40 lk-heading-big"
                                            id="fat-pb-8d90a571-4188-56e1-d7dc-ef9f37bf105c" data-animation="fadeInUp"
                                            data-animation-delay="0">
                                            <div class="lk-subtitle-heading fs-13 fw-bold c-main lk-lsp-005 text-upper">
                                                THE BEST ASSETS
                                            </div>
                                            <h2 class="lk-title c-dark lk-lsp-005 mg-bottom-0">
                                                Company Summary
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="fat-col col-md-6 col-xs-12 col-sm-12" data-animation="none"
                                        data-animation-delay="0" id="fat-pb-1091b037-c86d-7a15-ed68-fa72b7bed92f"
                                        data-mute="1" data-fit-to-bg="0">
                                        <div class="lk-title-heading lk-heading-title-excerpt text-left lk-heading-custom lk-heading-medium"
                                            id="fat-pb-4425aa9f-e09c-1fcd-0f7e-0d394f757d0c">
                                            <h2 class="lk-title c-dark lk-lsp-005 mg-bottom-0 appear-animation"
                                                data-animation="fadeInUp" data-animation-delay="0">
                                                Doing the <em>right thing</em>, at the right time Grow Up Your Business
                                            </h2>
                                            <div class="lk-excerpt-heading appear-animation" data-animation="fadeInUp"
                                                data-animation-delay="150">
                                                Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                                dolores eos qui
                                            </div>
                                        </div>
                                        <div id="fat-pb-a7c45eff-888a-b216-858c-ef31f1596f09"
                                            class="lk-icon-box icon-layout-02 lk-small-icon mg-top-20 appear-animation"
                                            data-animation="fadeInUp" data-animation-delay="150">
                                            <div class="lk-icon-inner">
                                                <div class="lk-icon">
                                                    <i class="cronus-icon-pie"></i>
                                                </div>
                                                <div class="lk-icon-content-wrap">
                                                    <div class="lk-icon-content">
                                                        <h4 class="lk-icon-title lk-lsp-0 fw-extra">Top Ranking Market
                                                            Share</h4>
                                                        <div class="lk-icon-subtitle mg-top-5">Eaque ipsa quae ab illo
                                                            inventore veritatisarchitecto beatae voluptas sit aspernatur
                                                            aut odit aut fugit</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="fat-pb-c7e86f43-9adb-ab58-368b-cc786d34db55"
                                            class="lk-icon-box icon-layout-02 lk-small-icon mg-top-20 appear-animation"
                                            data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="lk-icon-inner">
                                                <div class="lk-icon">
                                                    <i class="cronus-icon-pie"></i>
                                                </div>
                                                <div class="lk-icon-content-wrap">
                                                    <div class="lk-icon-content">
                                                        <h4 class="lk-icon-title lk-lsp-0 fw-extra">Business Saturation
                                                            and Popularity</h4>
                                                        <div class="lk-icon-subtitle mg-top-5">Eaque ipsa quae ab illo
                                                            inventore veritatisarchitecto beatae voluptas sit aspernatur
                                                            aut odit aut fugit</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fat-col col-md-6 col-xs-12 col-sm-12" data-animation="none"
                                        data-animation-delay="0" id="fat-pb-b129cca0-686d-dafd-3736-91dbeb060102"
                                        data-mute="1" data-fit-to-bg="0">
                                        <div class="lk-single-image-container appear-animation default text-right lk-border-10x mg-top-20"
                                            data-animation="fadeInUp" data-animation-delay="150">
                                            <div class="lk-single-image"><img
                                                    src="http://themes.roninwp.com/cronus/wp-content/uploads/2018/04/chart_02.jpg"
                                                    alt="Single image" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row pd-top-120" id="fat-pb-9e2246c8-a83e-d0a6-93e9-80e50d1a4237"
                                    data-animation="none" data-animation-delay="0" data-mute="1">
                                    <div class="fat-col col-md-12 col-xs-12 col-sm-12" data-animation="none"
                                        data-animation-delay="0" id="fat-pb-beb1ebe7-7941-0b41-748a-2827c7ff373f"
                                        data-mute="1" data-fit-to-bg="0">
                                        <div
                                            class="lk-counter-container appear-animation manual lk-counter-left lk-counter-01">
                                            <div class="row">
                                                <app-count-details *ngFor="let item of countAndDetails" [item]="item">
                                                </app-count-details>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="fat-fullwidth fat-row-wrap">
                                <div class="row pd-top-140" id="fat-pb-ab79a418-3086-366d-f167-7ebeaac42e9d"
                                    data-animation="none" data-animation-delay="0" data-mute="1">
                                    <div class="fat-col col-md-12 col-xs-12 col-sm-12" data-animation="none"
                                        data-animation-delay="0" id="fat-pb-4f0652cd-1518-b732-0143-e8dd310d4c37"
                                        data-mute="1" data-fit-to-bg="0">
                                        <div class="lk-title-heading appear-animation lk-heading-subtitle-title text-center lk-heading-custom mg-bottom-5 lk-heading-big"
                                            id="fat-pb-974bb0b8-6bf9-af42-78e3-d3e6bf5e636c" data-animation="fadeInUp"
                                            data-animation-delay="0">
                                            <div class="lk-subtitle-heading fs-13 fw-bold c-main lk-lsp-005 text-upper">
                                                OUR WORK
                                            </div>
                                            <h2 class="lk-title c-dark lk-lsp-005 mg-bottom-0">
                                                Amazing Projects
                                            </h2>
                                        </div>
                                        <app-imageslider></app-imageslider>
                                    </div>
                                </div>
                            </div>

                            <app-videoblock></app-videoblock>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>