<div class="fat-search-icon search-box-dropdown fix-right" id="fat-pb-b439a135-2704-fa78-187d-f5cd9ece55cc">
    <div class="fat-search-icon-inner">
        <a href="javascript:void(0)" class="fat-search-dropdown">
            <i class="fa fa-search transition-03"></i>
        </a>
        <div class="fat-search-box-dropdown-wrap">
            <input type="text" placeholder="Input keyword and enter to search"
                data-url="http://themes.roninwp.com/cronus/" />
        </div>
    </div>
</div>