<div class="fat-col col-md-4 appear-animation col-xs-12 col-sm-12" data-animation="fadeInUp" data-animation-delay="0"
    id="fat-pb-17d87894-50b8-fb1a-55e9-adc5d417e041" data-mute="1">
    <div id="fat-pb-9854eefc-b695-0d84-f910-2f708fa4223a" class="lk-icon-box icon-layout-02 lk-big-icon"
        data-animation="none" data-animation-delay="150">
        <div class="lk-icon-inner">
            <div class="lk-icon">
                <i class="{{item.icon}}"></i>
            </div>
            <div class="lk-icon-content-wrap">
                <div class="lk-icon-content">
                    <h4 class="lk-icon-title lk-lsp-0 fw-extra">{{item.title}}</h4>
                    <div class="lk-icon-subtitle mg-top-5">{{item.discription}}</div>
                </div>
            </div>
        </div>
    </div>
</div>