<div class="col-md-3 col-sm-6 col-xs-12 lk-counter-item" data-start="0" data-end="2300"
    data-counter-id="fat-pb-41b79aef-4d09-7a46-da2f-375dbe7eaee3" data-duration="500" data-delay="0">
    <div class="lk-counter-number fs-60 fw-bold lk-lsp-005" id="fat-pb-41b79aef-4d09-7a46-da2f-375dbe7eaee3"
        style="color: #6e45e2;">
        {{item.count}}
    </div>
    <h6 class="lk-counter-title fs-18 lk-lsp-005 mg-top-10 mg-bottom-5" style="color: #000000;">{{item.title}}</h6>
    <div class="lk-counter-subtitle fs-14 ff-second lk-italic" style="color: #a1a1a1;">{{item.discription}}
    </div>
</div>